{% extends 'base.html' %}



{% block content %}

<div class="container-fluid justify-content-center">
    <div class="row shop-header p-5">

{%if current_user.is_authenticated%}


    <div class="col-3 ms-5 d-flex flex-column justify-content-center ">
        <div class="justify-content-center white-background p-5">
            <h2 class="black-text">Greetings Gamer</h2>
            <h5 class="black-text">Your Gaming Wares Are Here</h5>
            <a href="{{url_for('site.create')}}" class=" btn btn-outline-dark mt-3">Add Game to Shop</a>
        </div>
       

    </div>
        <div class="row bg-dark p-3 shop-stats">
            <div class="row bg-dark p-3 shop-stats">
                <div class="col d-flex justify-content-center">Total # of Customers: {{ stats.customers }}</div>
                <div class="col d-flex justify-content-center">Total Sales : ${{ stats.sales }}</div>
                <div class="col d-flex justify-content-center">Total # of Products: {{ stats.products }}</div>
            </div>

    {% for product in shop %}
    <div class="row mt-5 mb-5 justify-content-center">
        <div class="card d-flex rounded shadow flex-row w-50 p-3" style="height: 350px;">
            <div class="col d-flex align-items-center" style="max-width:230px;">
                <img src=" {{ product.image }}" alt="cute plant picture" srcset="" class="img-fluid rounded">
            </div>

                <div class="card-body d-flex flex-column justify-content-center p-4">
                    <h5 class="card-title black-text"> {{ product.name }}</h5>
                    <p class="card-text black-text"> {{ product.description }}</p>
                    <p class="card-text black-text">Playtime: {{product.playtime}} minutes</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item black-text">Price: ${{ product.price }}</li>
                        <li class="list-group-item black-text">Quantity: {{ product.quantity }}</li>
                        {% if product.quantity <= 10 %}
                            <span class='err-msg btn-danger p-2 opacity-50 rounded'> ALERT: Quantity is Low </span>
                        {% endif %}
                    </ul>
                    <div class="mt-2">
                        <a href="{{ url_for('site.update', id = product.prod_id)}}" class="card-link btn btn-warning">Update Product</a>
                        <a href="{{url_for('site.delete', id = product.prod_id)}}" class="card-link btn btn-danger">Delete Product</a>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>

{%endfor%}
{% else %}
    <div class="row mt-5 mb-5 d-flex align-items-center white-background p-5">
        <h3 class="d-flex justify-content-center black-text">Your Products Will Show Up Here Once Signed In</h3>
    </div>

{%endif%}
{% endblock content %}